@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private static int renderCount = 0;

    protected override void OnAfterRender(bool firstRender)
    {
        renderCount++;
        
        if(TriggerFaultyPath())
            MethodThatSeemsInnocent();
    }

    private bool TriggerFaultyPath()
    {
        // This is the trigger for the render loop
        return renderCount == 1;
    }

    private void MethodThatSeemsInnocent() 
    {
        // Somewhere multiple levels deep, this method will be called in specific
        // and of course complex scenarios, causing a render loop
        GetDataFromDatabase();
    }

    private void GetDataFromDatabase()
    {
        // The source for render loops
        StateHasChanged();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
